<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Error</title>
    <link href="../css/style.css" rel="stylesheet">
</head>
<body>
<h1>Błąd !</h1>
<table>
    <tr>
        <td>Treść błędu </td>
        <td th:text="${message}"/>
    </tr>
    <tr>
        <td>HttpStatus</td>
        <td th:text="${httpStatus}"/>
    </tr>
    <tr>
        <td>Czas wystąpienia błędu</td>
        <td th:text="${zonedDateTime}"/>
    </tr>
</table>
<a href="/" class="blue-button">Wróć do strony głównej</a>
</body>
</html>
